@page {
    margin: 2cm;
}

body {
    font-family: sans-serif;
    margin-top : 3cm;
    margin-bottom: 0.5cm;
    text-align: justify;
}

#header{
    position: fixed;
    left: 0;
    right: 0;
    height: 100px;
    color: #000000;
    font-size: 0.9em;
}


#footer {
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 30px;
    color: #aaa;
    font-size: 0.9em;
}

#header table,
#footer table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}


.page-number {
    text-align: center;
}

.page-number:before {
    content: "Página " counter(page);
}

hr {
    page-break-after: always;
    border: 0;
}