.tbody1{

    height: 115px;
}
.tr1{

    height: 115px;
}
.caja-nombreCuerpo{
    height: 260px;
    width: 645px;
    border: 1px solid #022241;
    position: relative;
    resize: none
}
.caja-nombreEncabezado{
    height: 90px;
    width: 645px;
    border: 1px solid #022241;
    position: relative;
    resize: none
}
.caja-nombre{

    width: 835px;
    border: 1px solid #022241;
    position: relative;
}
.boton1{

    width: 645px;
    position: relative;
}
.dialogo{

    width: 800px;
}